{% extends "layouts/base.html" %}

{% block title %}
EventHQ | Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <h1>
            Discover Amazing Events
        </h1>

        <p>
            Conferences, Workshops,
            Concerts, Trainings and More.
        </p>

        <a
            href="{{ url_for('public.events') }}"
            class="btn">

            Browse Events

        </a>

    </div>

</section>

<section class="section">

    <div class="container">

        <h2>
            Featured Events
        </h2>

        <div class="event-grid">

            {% for event in featured_events %}

            <div class="event-card">

                <h3>
                    {{ event.event_name }}
                </h3>

                <p>
                    {{ event.venue }}
                </p>

                <a
                    href="{{ url_for('public.event_details', event_id=event.id) }}">

                    View Event

                </a>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}